
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comic+Neue:ital,wght@1,300&family=Rock+Salt&display=swap');

body {
  background: radial-gradient(#562349 20%, #ad6989 25%, #f4a299 30%, #fbe2b3 40%);
}

/* modal start page */
.modal {
  display: block;
  position:absolute;
  top:10px;
  margin: 0px;
  z-index: 1;
  width: 100%;
  height: 880px;
  background-color: rgba(0,0,0,.2)
}

.modal-content {
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9d89b;
  width: 30%;
  margin: 27% auto;
  padding: 20px;


}

.modal-content h3 {
  font-family: 'Rock Salt', cursive;
  animation-name: rainbow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  letter-spacing: 1em;
  text-align: center;
  margin: 7px 3px;
  padding: 3px auto;
}



.modal-content h4 {
  text-align: center;
  color: #63b7af;
  font-family: 'Caveat', cursive;
  font-size: 28px;
  margin: 25px auto;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  width: 50%;
  height:30%;

}

.difficulty {
  color: grey;
  margin: auto 3%;
  padding: 3px 10px;
  border: 1px solid grey;
  cursor: pointer;
}

#easy:hover {
  transform: scale(1.3);
  font-weight: bold;
  color: white;
  background: #27e60e;
  box-shadow: 3px 3px 3px #27e60e;
}
#medium:hover {
  transform: scale(1.3);
  font-weight: bold;
  color: white;
  background: #05a8fa;
  box-shadow: 3px 3px 3px #05a8fa;
}
#hard:hover {
  transform: scale(1.3);
  font-weight: bold;
  color: white;
  background: #fa0573;
  box-shadow: 3px 3px 3px #fa0573;
}

/* question container carousel */




.question-container {
  width: 40%;
  height: 380px;
  margin: 22% 28%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.question-container div {
  display: none;
}

.question-container div:first-of-type {
  display: block;
}

/* each question box */

.category {
  font-family: 'Caveat', cursive;
  color: #d92027;
  font-size: 24px;
  font-weight: 100;
}

.question {
  font-family: 'Caveat', cursive;
  color: #562349;
  font-size: 30px;
  font-weight: 100;
}

.question-box {
  animation-name: pastel-box;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background: #f4a299;
  box-shadow: 4px 4px 5px #ad6989;
}


.answers div {
  color: white;
  background: #c060a1;
  font-weight: bolder;
  font-family: 'Comic Neue', cursive;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  padding: 2px 8px;
  border: 1px solid ghostwhite;
  border-radius: 10px;
  cursor: pointer;
}
.answers div:hover {
  box-shadow: 3px 3px 4px #ad6989;
  transform: scale(1.1)
}

.score-board {
  color: white;
  font-family: 'Comic Neue', cursive;
  text-align: center;
}
.score-board {
  animation-name: rainbow-scale;
  animation-duration: 3s;
  animation-timing-function: ease-out;

}

.canvas {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 800px;
  width: 100%;
  overflow: hidden;
}

 img {
  position: absolute;
  bottom: -200px;
  display: block;
  animation: rain-up-rotate 20s linear infinite;

}


img:nth-child(1){
  left: 20%;
  width: 80px;
  height: 80px;
  animation delay: 0s;
  animation-duration: 10s;
}

img:nth-child(2){
  left: 35%;
  width: 60px;
  height: 60px;
  animation delay: 1.5s;
  animation-duration: 15s;
}
img:nth-child(3){
  left: 48%;
  width: 150px;
  height: 150px;
  animation delay: 2.4s;
  animation-duration: 20s;
}

img:nth-child(4){
  left: 56%;
  width: 20px;
  height: 20px;
  animation delay: 0.5s;
  animation-duration: 13s;
}
img:nth-child(5){
  left: 13%;
  width: 180px;
  height: 180px;
  animation delay: 3.2s;
  animation-duration: 9s;
}

img:nth-child(6){
  left: 3%;
  width: 100px;
  height: 100px;
  animation delay: 0.3s;
  animation-duration: 16s;
}

img:nth-child(7){
  left: 75%;
  width: 40px;
  height: 40px;
  animation delay: 0s;
}

img:nth-child(8){
  left: 83%;
  width: 80px;
  height: 80px;
  animation delay: 0.6s;
}

img:nth-child(9){
  left: 10%;
  width: 20px;
  height: 20px;
  animation delay: 3s;
}

img:nth-child(10){
  left: 65%;
  width: 80px;
  height: 80px;
  animation delay: 0s;
}
@keyframes rain-up-rotate {
  0% { transform: translateY(0px) rotate(0deg);}
  100% {transform: translateY(-800px) rotate(360deg);}
}


@keyframes pastel-box {
  0% { background: #fbe0ac; }
  25% { background: #f5acb7; }
  50% { background: #c3edea; }
  100% { background: #4ebcd4; }
}

@keyframes rainbow-scale {
  0% { color: white; transform: scale(1);}
  10% { color: crimson; }
  25% { color: hotpink; }
  30% { color: coral; }
  40% { color: lightyellow; }
  50% { color: palegreen; }
  60% { color: mediumaquamarine; transform: scale(1.5);}
  75% { color: steelblue; }
  80% { color: darkviolet; }
  90% { color: black; }
  100% { color: grey; transform: scale(1);}
}
@keyframes rainbow {
  0% { color: black; }
  10% { color: crimson; }
  25% { color: hotpink;}
  30% { color: coral;}
  40% { color: lightyellow; }
  50% { color: palegreen; }
  60% { color: mediumaquamarine; }
  75% { color: steelblue; }
  80% { color: darkviolet;}
  90% { color: black; }
  100% { color: grey; }
}


.restart {
  cursor: pointer;
  border: 1px solid grey;
  width:30%;
  margin-left: 35%;
  padding:4px;
  text-align: center;
}

.restart:hover {
  background: #ffad0a;
  box-shadow: inset 3px 3px 4px #ffad0a;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}







@media(max-width: 600px) {

  .modal {

    height: 400px;
    background-color: rgba(0,0,0,.2)
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9d89b;
    width: 90%;
    height: 70%;
    margin: 15% 3%;
    padding: 5px;
    border: 1px solid #888;

  }

  .question-container {
    width: 100%;
    padding: 1px 1px;
    height: 500px;
    margin: 1px 1px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .question-box {
    width: 90%;
    margin: 1% 1%;

  }

}
