
/* modal start page */


.modal {
  display: block;
  position:fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4)
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  width: 30%;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;

}

.difficulty-buttons {
  display: flex;
  justify-content: center;

}

.difficulty {
  margin: auto 3%;
  padding: 3px 10px;
}

/* question container carousel */

.question-container {
  width: 35%;
  height: 380px;
  margin:auto;
}

.question-container div {
  display: none;
}

.question-container div:first-of-type {
  display: block;
}

/* each question box */

.question-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.answers div {
  display: block;
}
